@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}



.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: rgb(247, 0, 82);
}

section {
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(dopamines..jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: colorchange 10s ; 
}
@keyframes colorchange {
    0%   {background-color: rgb(236, 225, 225);}
    25%  {background-color: rgb(63, 63, 54);}
    50%  {background-color: rgb(54, 54, 88);}
    75%  {background-color: rgb(12, 15, 12);}
    100% {background-color: rgb(43, 3, 3);}
  }

  
.main h2 {
    
    display:inline-block;
    margin-top: 10px;
    color: #35054b;
    font-size: 6em;
    font-weight: 700;
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;

}
@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}

.main h3{
    color: #0b0650;
    font-size: 2.6em;
    font-weight: 600;
    letter-spacing: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #ff00ff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    
}


.main-btn:hover {
    background-color: #0b183a;
    transform: scale(1.1);
    
}

.social-icons a {
    color: rgb(35, 20, 161);
    font-size: 2em;
    padding-right: 22px;
   
}

@media (max-width:1023px) {

    section{
        padding: 80px 77px;
        background-color: #151822;
    }
    

    .main h2{
        font-size: 3em;
    }

    .main h3{
        font-size: 1.2em;
    }
.social-icons{
    padding-left: 18px;
}
   
}
